# DA

data analytics/DATA

# DNN
DeepNeuralNetwork/YOLO/MODEL
DeepNeuralNetwork/Models
DeepNeuralNetwork/input
DeepNeuralNetwork/Exam_Puneet/DATA
DeepNeuralNetwork/images
DeepNeuralNetwork/Artificial_neural_Network(ANN)/Day_5/DATA

# PML
Priactical_ML/DATA
Priactical_ML/Datasets
Priactical_ML/scikit-learn-docs
Priactical_ML/Puneet_Assignments/Assignment_6/DATA
Priactical_ML/Puneet_Assignments/Assignment_5/DATA
Priactical_ML/Puneet_Assignments/Assignment_4/DATA


# NLP CV

NLP&CV/CV/images
NLP&CV/CV/data
NLP&CV/CV/output_images